
/* This is, as the name suggests, the main stylesheet for the module 3 assignment. 
    Now, the reason I'm writing this comment on the top is because I want the this file to be easily understood.
    The document (file) is pretty long but this comment should help you go through it pretty quickly.

    Starting with the explanation:
        I'm using the Monsterrat and Montez (for the logo / Brand Name) font for this page. The font is NOT included with the repository but rather has been embeded via Google fonts. (check line:17 in the index.html).
        
        Body: Specifying the font family in the body helps a lot since now I don't have specify ith everytime what font-family I'll be using for different elements.

      The Header Section : Mostly consists of a custom constraints and / or properties applied to the Navigation Bar. Nothing really to explain here other than if you don't understand it, you might wanna go though go course
                          Bootstrap Docs (Though is it already a lot self-explanatory link: https://getbootstrap.com/docs/4.0/components/navbar/ ) 
          Exception:
            Nav-List-Item : Used to increase the space between the elements in the Collapsed Navigation Menu @ Mobile size.

        Heading: The heading element has a class as well as an id selector. This is to stop redundancy, as if I ever need to add more heading(s), I can just refer the class but still 
                fine-tune the settings as per the requirements.

        Cards: This is the class of every card specifying their border-radius, shadow and botom margin. the Bottom Margin is there for aesthetic reasons. 

        TitleSection: For the Top Red Color Bar.It specifies the constraints of the section and color.

        TitleSectionText: This is the class for the text in the TitleSection. It specifies the constraints of the text.

        cardContent: This is the class for the all the card other than the TitleSection. 

        non-veg: Specific Style to the card. This only exists because of the existence of the optional verion of the page also exists

        non-vegTitle: Specific Style to the card. This only exists because of the existence of the optional verion of the page also exists

        flex-container: to center the card
    Rest of the code is for Responsive Design, containing width speicifications of different types of devices as per the 12 column grid layout. 
Happy Reviewing!
*/


/* Default styles.*/
*{
    margin: 0px;
    padding: 0px;
  }

body {
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    width: 100%;
  }

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  width: 100%;
  padding: 20px;
}


div.navbar-header{
  width: 100%;
  padding-bottom: 10px;
}

#logo-img {
  background: url('../images/Logo.svg') no-repeat;
  width: 75px;
  height: 50px;
  margin-top: 18px; 
  margin-left: 20px;  
  margin-right: 10px;
}

.navbar-brand {
  padding-top: 10px; 
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Montez', cursive;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 10px;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
}

.nav-list-item { /* for individual nav bar items */
  margin-top: 20px;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/*** MAIN CONTENT ***/

.heading {
    text-align: center;
    font-weight: 500;
  }

h1 {
    margin-top: 75px;
    font-size: 72px;
    font-weight: 500;
    color: #000000;
  }

.cards {
  border: 1px solid #000000;  
  border-radius: 5px;
  margin-top: 100px; 
  margin-bottom: 50px;
  padding: 0;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1)
  }


.titlesection {
    width: 100%;
    height: 62px;
    background: #fefefe;
    border-radius: 0px 5px;
    padding: 0%;
    margin: 0%;
  }

.titlesectiontext {
    padding: 25px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 22px;
    align-items: center;
    text-align: center;
  }

.cardContent {
    width: 80%;
    margin: 88px auto 20px auto ;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
  }

  /* Specific Style to the card (this only exists because of the existence of the optional verion of the page also exists) */
#non-veg {  
    background: #fefefe;
    border-color: #F54747;
  }

#non-vegTitle {
    color: #f5f5f5  ;
    background-color: #F54747;
  }

  /*** RESPONSIVE SIZING ***/

  @media (min-width: 576px) {
    .container {
      max-width: 540px; 
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
      padding: 0;
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }

/* Thank you for reviewing my code.*/
